<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.androidanimation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AttributeAnimatonActivity" />
        <activity android:name=".activity.FrameAnimatonActivity" />
        <activity android:name=".activity.JavaAnimationStyleActivity" />
        <activity android:name=".activity.XmlAnimationStyleActivity" />
        <activity android:name=".activity.ActivitySpecial" />
        <activity android:name=".activity.CircularReveralActivity" />
        <activity android:name=".activity.CAActivity" />
        <activity android:name=".activity.ShareListActivity" />
        <activity android:name=".activity.ShareListDetailActivity" />
        <activity android:name=".activity.VectorActivity" />
        <activity android:name=".activity.DrawPathActivity" />
        <activity android:name=".activity.CustomSVGActivity" />
        <activity android:name=".activity.CustomSVGActivity2" />
        <activity android:name=".activity.PathAnimActivity" />
        <activity android:name=".practice.WelcomeActivity" />
        <activity android:name=".practice.InputETShakeActivity" />
        <activity android:name=".practice.RadarSkannaActivity" />
        <activity android:name=".practice.DiditalJumpActivity" />
        <activity android:name=".activity.AnimatorAnimatonActivity" />
        <activity android:name=".activity.TypeEvaluatorActivity" />
        <activity android:name=".activity.TimeInterpolatorActivity" />
        <activity android:name=".activity.SurfaceViewActivity"></activity>
    </application>

</manifest>